RewriteEngine On

RewriteBase /api/

# permite header-ul Authorization sa ajunga in PHP
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [E=HTTP_AUTHORIZATION:%1]

# blocheaza accesul direct la orice fisier .php in afara de index.php
RewriteCond %{REQUEST_URI} !^/api/index\.php$ [NC]
RewriteCond %{REQUEST_URI} \.php$ [NC]
RewriteRule ^ - [F,L]

# fisierele/directoarele care exista local nu se rescriu
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# tot restul merge la index.php
RewriteRule ^(.*)$ index.php [QSA,L]